.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc($curve * 1px);
  overflow: hidden;
  text-decoration: none;
  height: 33vh;

  &__image {      
    width: 100%;
    height: auto;
  }
  
  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc($curve * 1px);    
    background-color: lighten($primary-color, 10%);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover &__overlay {
    transform: translateY(0);
  }
  
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc($curve * 1px) 0 0 0;    
    background-color: lighten($primary-color, 10%);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  &__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  &__arc path {
    fill: lighten($primary-color, 10%);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover &__header {
    transform: translateY(0);
  }
  
  &__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  &__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: $secondary-color;
  }
  
  &__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  &__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  &__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "MockFlowFont";   
    overflow: hidden;
  }    
}



.projects {
  padding-bottom: 2rem;
  position: relative;
  top: 100px;


  &__title {
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 2rem;
  }


  &__items {
    width: 60vw;
    margin: 5rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary-color;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects__btn {
        opacity: 1;
      }
    }
  }
  &__item-title{
    height: 2rem;
    background-color: rgba($primary-color, 0.3);
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform:
      rotate(90deg)
      translate(-4.25rem, -5.5rem);
  }
  
}
